body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0;
}

#min1{
    font-size: 3rem;
}

#min10{
    font-size: 3rem;
}

#min30{
    font-size: 3rem;
}

#myChart {
    width: 100%;
    height: 400px;
}

.grafico {
    color: black;
    background-color: white;
}


a {
    color: inherit;
    text-decoration: none;
  }
